<div class="mmodal item-modal">
	<div class="mmodal-body">
		<form class="container add">
			<input type="text" id="name" name="name" [(ngModel)]="title" [ngModelOptions]="{ standalone: true }" required
				placeholder="Название записи">
			<h2><b>Запись:</b></h2>
			<p><textarea rows="10" cols="45" [(ngModel)]="text" name="text" [ngModelOptions]="{ standalone: true }"
					required></textarea></p>
			<p><button class="btn" (click)="addPost()">Создать</button></p>
		</form>
	</div>
</div>
<div class="mmodal-background"></div>